{{> carousel}}
  <center class="my-5">
    <div class="container-fluid">
      <!-- Card deck -->
      <div class="card-deck justify-content-center" style="flex-wrap: wrap;">
      {{#each juices}}
        <!-- Card -->
        <div class="card mb-4" style="min-width: 410px; max-width: 410px;">
          <!--Card image-->
          <div class="view overlay">
            <img class="card-img-top" src="{{imageURL}}">
          </div>
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">{{name}}</h4>
            <!--Text-->
            <p class="card-text">{{description}}</p>
            <h4 class="blink">Price: Pkr.{{price}}</h4>
            <!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
            <center>
                <a href="/order/{{_id}}">
                    <button type="button" class="btn aqua-gradient btn-md">ORDER NOW</button>
                </a>
            </center>
          </div>
        </div>
        {{/each}}
        </div>
  </center>

  <p class="display-1 text-center" id="aboutus">About Us</p>
<center style="padding: 30px;">
    <h2 class="fontchange">What is Shrek Juice?</h2>
    <h3>Quality Hyeigen is our pirority we never compromise on quality.</h3>
    <p class="fontstyle">we were pioneers of cold-pressed juicing in Lebanon, and were (and still are!) the only company to offer a fully certified organic juice cleanse. We listened to our customers and grew organically, making the natural transition from juicing as therapy, to supporting a more balanced and healthy lifestyle.
    Today the Sherk Juice is about more than juice and smoothies. It’s a place that takes a holistic approach to beauty, wellness and longevity. We focus on local, nutrient dense foods and a program of workshops that supports our quest and right to live better.
    </p>
    <div class="row container">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <div class="card card-cascade wider">
            <div class="view view-cascade overlay">
                <img  class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/photo6.jpg" alt="Card image cap">
                <a href="#!">
                <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <div class="card-body card-body-cascade text-center">
                <h4 class="card-title"><strong>Asmeer Ahmed Khan</strong></h4>
                <h5 class="blue-text pb-2"><strong>Web Designer</strong></h5>
                <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
                <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
                <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>
            </div>
            </div>
        </div>
        <br>
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
        </div>
    </div>
    <br>
</center>