{{> carousel}}

<p class="display-3 font-weight-bold text-center mt-5 mb-3">{{type}}</p>

<center>
<div class="container-fluid">
  <!-- Card deck -->
  <div class="d-flex flex-wrap justify-content-center p-2" style="max-width: 100vw; gap: 1rem">
    {{#each juices}}

    <!-- Card -->
      <div class="card mb-4" style="width: 400px">

        <!--Card image-->
        <div class="view overlay">
          <img class="card-img-top" src="{{imageURL}}" alt="juice-image" />
          <a href="#">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <!--Card content-->
        <div class="card-body">
          <h4 class="card-title">{{name}}</h4>
          <p class="card-text">{{description}}</p>
          <h4 class="blink">Price: Pkr.{{price}}</h4>
          <center>
            <a href="/order/{{_id}}">
                <button type="button" class="btn aqua-gradient btn-md">ORDER NOW</button>
            </a>
          </center>
        </div>

      </div>
    {{/each}}
  </div>
</div>
