<div
  class="w-100 d-flex justify-content-center align-items-start p-5"
  style="min-height: 100vh;"
>
  <img src="{{juice.imageURL}}" alt="juice-image" class="w-50 rounded" />
  <div class="align-items-start justify-content-center px-4 py-2 w-50">
    <h1 class="">{{juice.name}}</h1>
    <p
      class=""
      style="font-weight: 300; font-size: 18px"
    >{{juice.description}}</p>
    <div
      class="d-flex flex-column justify-content-start align-items-start w-100"
    >
      <div class="d-flex justify-content-between align-items-center w-100 mt-4">

        <span class="font-weight-bold">Quantity: </span>
        <input
          type="number"
          min="1"
          max="10"
          class="form-control form-control-plaintext"
          id="quantityInput"
          value="1"
          style="width: 70px;"
        />
      </div>
      <div class="d-flex justify-content-between align-items-center w-100">
        <p class="font-weight-bold">Total Amount: </p>
        <p id="totalAmount" class="w-25 text-right">Rs. {{juice.price}}</p>
      </div>
    </div>
    {{#if user}}
      <form method="post">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="address"
            placeholder="Enter your address"
          />
          <small class="form-text text-muted"></small>
        </div>
        <button
          type="submit"
          class="btn btn-dark btn-md font-weight-bold"
        >Confirm order</button>
      </form>
    {{/if}}
    {{#unless user}}
      <div class="alert alert-info w-100 mt-4 mb-5">Please login to place your
        order</div>

    {{else}}

      {{#unless user.isVerified}}
        <div class="alert alert-info w-100 mt-4 mb-5">Please verify your account
          to place order</div>

      {{/unless}}
    {{/unless}}
  </div>
</div>

<script>
  const quantityInput = document.getElementById("quantityInput"); const
  totalAmountTag = document.getElementById("totalAmount");
  quantityInput.addEventListener("click", (event) => { const amount =
  quantityInput.value * "{{juice.price}}"; totalAmountTag.innerText = "Rs. " +
  amount });

</script>